!!! 5
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7(lang='en')
//if IE 7
  html.no-js.lt-ie9.lt-ie8(lang='en')
//if IE 8
  html.no-js.lt-ie9(lang='en')
//[if gt IE 8]><!
html.no-js(lang='en')
    //<![endif]
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        title Trip.js 
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width')
        link(rel='stylesheet', href='public/vendor/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='public/css/index.css')

        // include trip CSS
        link(rel='stylesheet', href='./src/trip.min.css')
        style(type='text/css')
            .wrapper div:nth-child(odd) {
                background : #AAA;
            }
            .wrapper div:nth-child(even) {
                background : #DDD;
            }
        script(src='public/vendor/modernizr-2.6.2.min.js')
        script(src='public/vendor/jquery-1.8.3.min.js')
        script(src='public/vendor/bootstrap/js/bootstrap.min.js')
        script(src='./src/trip.min.js')
        script
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-41178936-1', 'eragonj.github.io');
          ga('send', 'pageview');
        script
            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=491695290890106";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        script
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

        script
            $(document).ready(function() {
                var trip = new Trip([
                    { 
                        sel : $('.step1'), 
                        position : 'n', 
                        content : 'Hi, I am Trip.js', 
                        delay : 2000,
                        callback : function(i) {
                            console.log("step "+ i +" is finished");
                        }
                    },
                    {
                        sel : $('.step2'),
                        position : 'e',
                        content : 'This is a plugin that can help you make hint flow easily !',
                        delay : 3000,
                        callback : function(i) {
                            console.log("step "+ i +" is finished");
                        }
                    },
                    {
                        sel : $('.step3'),
                        position : 'n',
                        content : 'Can be placed in many directinos - North',
                        delay : 2000
                    },
                    {
                        sel : $('.step4'),
                        position : 'e',
                        content : 'East',
                        delay : 2000
                    },
                    {
                        sel : $('.step5'),
                        position : 'w',
                        content : 'West',
                        delay : 2000
                    },
                    {
                        sel : $('.step6'),
                        position : 's',
                        content : 'South',
                        delay : 2000
                    },
                    {
                        sel : $('.step6'),
                        content : 'Can control if the user can proceed',
                        delay : 2000,
                        canGoNext: function() {
                            return confirm("You can only continue if you agree!");
                        }
                    },
                    {
                        sel : $('.step6'),
                        content : 'You can\'t proceed until you click next',
                        delay : -1,
                        showNavigation: true
                    },
                    {
                        sel : $('.step7'),
                        position : 'n',
                        content : 'One more thing, plz read this !',
                        expose : true,
                        delay : 7000
                    }
                ], {
                    tripTheme : "black",
                    onTripStart : function() {
                        console.log("onTripStart");
                    },
                    onTripEnd : function() {
                        console.log("onTripEnd");
                    },
                    onTripStop : function() {
                        console.log("onTripStop");
                    },
                    backToTopWhenEnded : true,
                    delay : 2000
                });

                $(".start-tour").click(function() {
                    trip.start(); 
                });

                window.trip = trip;
            });

    body
        div#fb-root 
        a(href="https://github.com/EragonJ/Trip.js") 
            img(style="position: absolute; top: 0; right: 0; border: 0;", src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png", alt="Fork me on GitHub")

        .container
            .navbar
                .navbar-inner
                    a.brand(href="#") Trip.js
                    ul.nav
                        li.active 
                            a(href="#") Home
                        li 
                            a.start-tour(href="#") Start a Demo Tour
                        li
                            a(href="https://github.com/EragonJ/Trip.js/tags") Download
                        li
                            a(href="https://github.com/EragonJ/Trip.js/contributors") Contributors
                        li 
                            a(href="https://github.com/EragonJ/Trip.js") Github

                    ul.nav.pull-right
                        li
                            a(href="http://github.com/EragonJ") By EragonJ

            .jumbotron
                h1.step1 Trip.js

            .social-buttons.clearfix
                div.fb-like(data-href="http://eragonj.github.com/Trip.js/", data-send="true", data-layout="button_count", data-width="450", data-show-faces="false", data-send="false")
                div.twitter
                    a.twitter-share-button(href="https://twitter.com/share", data-hashtags="trip.js") Tweet
                div.github
                    iframe(src="http://ghbtns.com/github-btn.html?user=EragonJ&repo=Trip.js&type=watch&count=true", allowtransparency="true", frameborder="0", scrolling="0", width="152", height="20")

            .steps
                .step
                    h2
                        span.step2 What is Trip.js ?
                    p Trip.js is a useful plugin that can help you customize a tutorial trip easily. ( Based on jQuery )
                .step
                    h2 Version
                    p 1.1.2
                .step
                    h2 Setup ( Minimal )
                    ol 
                        - var jQueryCode = '<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>'
                        li Include your jQuery
                            pre #{jQueryCode}

                        - var cssCode = '<link type="text/css" rel="stylesheet" href="src/trip.min.css">'
                        li Include src/trip.css
                            pre #{cssCode}

                        - var jsCode = '<script type="text/javascript" src="src/trip.min.js"></script>'
                        li Include src/trip.js
                            pre #{jsCode}

                        li Setup Trip.js
                            pre.step3.step4.step5.step6
                                | var trip = new Trip([
                                |    { 
                                |        sel : $('#element1'),
                                |        content : 'This is element 1'
                                |    },
                                |    {
                                |        sel : $('#element2'),
                                |        content : 'This is element 2'
                                |    }
                                | ], options); // details about options are listed below

                        li Take a Trip Now !
                            pre
                                | $(document).ready(function({
                                |     trip.start();
                                | });
                .step 
                    h2 Setup for Demo Tour
                    pre
                        | $(document).ready(function() {
                        |     var trip = new Trip([
                        |         { 
                        |             sel : $('.step1'), 
                        |             position : 'n', 
                        |             content : 'Hi, I am Trip.js', 
                        |             delay : 2000,
                        |             callback : function(i) {
                        |                 console.log("step "+ i +" is finished");
                        |             }
                        |         },
                        |         {
                        |             sel : $('.step2'),
                        |             position : 'e',
                        |             content : 'This is a plugin that can help you make hint flow easily !',
                        |             delay : 3000,
                        |             callback : function(i) {
                        |                 console.log("step "+ i +" is finished");
                        |             }
                        |         },
                        |         {
                        |             sel : $('.step3'),
                        |             position : 'n',
                        |             content : 'Can be placed in many directinos - North',
                        |             delay : 2000
                        |         },
                        |         {
                        |             sel : $('.step4'),
                        |             position : 'e',
                        |             content : 'East',
                        |             delay : 2000
                        |         },
                        |         {
                        |             sel : $('.step5'),
                        |             position : 'w',
                        |             content : 'West',
                        |             delay : 2000
                        |         },
                        |         {
                        |             sel : $('.step6'),
                        |             position : 's',
                        |             content : 'South',
                        |             delay : 2000
                        |         },
                        |         {
                        |             sel : $('.step6'),
                        |             content : 'Can control if the user can proceed',
                        |             delay : 2000,
                        |             canGoNext: function() {
                        |                 return confirm("You can only continue if you agree!");
                        |             }
                        |         },
                        |         {
                        |             sel : $('.step6'),
                        |             content : 'You can\'t proceed until you click next',
                        |             delay : -1,
                        |             showNavigation: true
                        |         },
                        |         {
                        |             sel : $('.step7'),
                        |             position : 'n',
                        |             content : 'One more thing, plz read this !',
                        |             expose : true,
                        |             delay : 7000
                        |         }
                        |     ], {
                        |         onTripStart : function() {
                        |             console.log("onTripStart");
                        |         },
                        |         onTripEnd : function() {
                        |             console.log("onTripEnd");
                        |         },
                        |         onTripStop : function() {
                        |             console.log("onTripStop");
                        |         },
                        |         backToTopWhenEnded : true,
                        |         delay : 2000
                        |     });
                        | 
                        |     $(".start-tour").click(function() {
                        |         trip.start(); 
                        |     });
                        | });

                .step
                    h2 Global Options
                    ol 
                        li 
                            h4 tripIndex
                            p You can set tripIndex ( start from 0 ) to specific trip block at start.
                            p 
                                | Default : 
                                code 
                                    | $.noop
                        li 
                            h4 tripTheme 
                            p You can set which theme to use, now have white and black two themes.
                            p 
                                | Default : 
                                code 
                                    | black
                        li 
                            h4 onTripStart 
                            p You can set a callback function triggered when the trip starts.
                            p 
                                | Default : 
                                code 
                                    | $.noop
                        li 
                            h4 onTripEnd
                            p You can set a callback function triggered when the trip ends.
                            p 
                                | Default : 
                                code 
                                    | $.noop
                        li 
                            h4 backToTopWhenEnded
                            p You can ask Trip.js go back to top when ended.
                            p 
                                | Default : 
                                code 
                                    | false
                        li 
                            h4 overlayZindex
                            p You can set the basic zIndex for overlay if you want to expose elements.
                            p 
                                | Default : 
                                code 
                                    | 99999
                        li 
                            h4 enableKeyBinding
                            p You can decide to bind key events for trip navigations or not.
                            p 
                                | Default : 
                                code 
                                    | true
                        li 
                            h4 delayPeriod
                            p every trip will be lived for 1 second (1000 ms) by default
                            p Setting to a <code>-1</code> will prevent auto-advancing. You must manually call <code>trip.next()</code>.
                            p
                                | Default : 
                                code 
                                    | 1000
                        li 
                            h4 showNavigation
                            p Toggle navigation buttons
                            p 
                                | Default : 
                                code 
                                    | false
                        li 
                            h4 prevLabel
                            p Label for the previous button.
                            p 
                                | Default : 
                                code 
                                    | Back
                        li 
                            h4 nextLabel
                            p Label for the next button.
                            p 
                                | Default : 
                                code 
                                    | Next

                        li 
                            h4 finishLabel
                            p Label for the finish button.
                            p 
                                | Default : 
                                code 
                                    | Dismiss

                        li 
                            h4 canGoPrev
                            p 
                                |Determines if the user can go backwards. If set to a function
                                |it is called and the response is evaluated.
                            p 
                                | Default : 
                                code 
                                    | true

                        li 
                            h4 canGoNext
                            p 
                                |Determines if the user can go forward. If set to a function
                                |it is called and the response is evaluated.
                            p 
                                | Default : 
                                code 
                                    | true
                .step
                    h2 Local Options 
                    h4 You can setup specific options for each step.
                    ol
                        li 
                            h4 sel *Required*
                            p Which selector is referenced in this step.
                            p 
                                | Default : 
                                code 
                                    | no default
                        li 
                            h4 content *Required*
                            p What information that you want to show to users.
                            p 
                                | Default : 
                                code 
                                    | no default
                        li 
                            h4 position
                            p What position would you prefer for the tripBlock.
                            p 
                                | Default : 
                                code 
                                    | n
                                | ( You can use e, w, n, s four positions )
                        li 
                            h4 delay
                            p 
                                |You can delay longer / shoter for this step. You can assign 
                                | <code>delay</code> 
                                | in global options to change the default delay.
                                | Setting to a
                                | <code>-1</code>
                                | will prevent auto-advancing. You must manually call
                                | <code>trip.next()</code>
                                | .
                            p 
                                | Default : 
                                code 
                                    | 1000
                        li 
                            h4 callback
                            p 
                                |You can do whatever you want to do after this step passed. BTW, Trip.js will assign the current 
                                | <code>tripIndex</code>
                                | (start from 0) as the first parameter back to your callback function for later use.
                            p 
                                | Default : 
                                code 
                                    | $.noop

                        li 
                            h4 showNavigation
                            p 
                                |Toggle navigation buttons
                                | <code>showNavigation</code>
                            p 
                                | Default : 
                                code 
                                    | false

                        li 
                            h4 prevLabel
                            p 
                                |Label for the previous button.
                                | <code>prevLabel</code>
                            p 
                                | Default : 
                                code 
                                    | Back

                        li 
                            h4 nextLabel
                            p 
                                |Label for the next button.
                                | <code>nextLabel</code>
                            p 
                                | Default : 
                                code 
                                    | Next

                        li 
                            h4 finishLabel
                            p 
                                |Label for the finish button.
                                | <code>finishLabel</code>
                            p 
                                | Default : 
                                code 
                                    | Dismiss

                        li 
                            h4 canGoPrev
                            p 
                                |Determines if the user can go forward. If set to a function
                                |it is called and the response is evaluated.
                                | <code>canGoPrev</code>
                            p 
                                | Default : 
                                code 
                                    | true

                        li 
                            h4 canGoNext
                            p 
                                |Determines if the user can go forward. If set to a function
                                |it is called and the response is evaluated.
                                | <code>canGoNext</code>
                            p 
                                | Default : 
                                code 
                                    | true

                .step 
                    h2 Key Binding
                    ol
                        li 
                            h4 Right and Down arrows
                            p Go to next trip

                        li 
                            h4 Left and Up arrows
                            p Go back to previous trip

                        li 
                            h4 Space
                            p pause / resume

                        li 
                            h4 Esc
                            p Stop

                .step
                    h2 API
                    ol 
                        li 
                            h4 trip.start()
                            p Call this method to start your trip

                        li
                            h4 trip.stop()
                            p Call this method to stop your trip

                        li
                            h4 trip.pause()
                            p Call this method to pause your trip (same as trip.resume)

                        li
                            h4 trip.resume()
                            p Call this method to continue your trip (same as trip.pause)

                        li 
                            h4 trip.next()
                            p jump to next step

                        li 
                            h4 trip.prev()
                            p jump back to previous step

                .step.step7
                    h2 Notice
                    p 
                        | This plugin is still under development ! 
                        | If you find any bugs or want me to implement anything, 
                        | please feel free to open an issue ;)
                    p
                        a(href="https://github.com/EragonJ/Trip.js/issues") Open an issue
